<div class="modal fade modal-image" id="changeCoverModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".title" %></h4>
      </div>

      <div class="modal-body">
        <div class="upload-user-cover">
          <%= load_user_cover user, class: "img-cover-upload img-upload" %>
        </div>
        <%= form_for @image, url: user_covers_path, multipart: true do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= f.file_field :picture, accept: "image/png, image/jpg, image/jpeg",
                class: "btn btn-default change-image form-control" %>
            </div>
            <div class="col-md-6">
              <%= link_to t(".from_album"), "#",
                class: "btn btn-default form-control album-for-user" %>
            </div>
          </div>
        <% end %>
        <%= form_for @image, url: user_covers_path, method: :patch,
          multipart: true, html: {id: "edit_image"} do |f| %>
          <div class="album-image">
            <%= f.hidden_field :picture, class: "user-old-image" %>
            <% if user.images.present? %>
              <%= render partial: "album_image", collection: user.images,
                as: :image, locals: {user: user} %>
            <% else %>
              <p><%= t ".no_image" %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= button_tag t(".save"), class: "btn btn-primary btn-create-image" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  </div>
</div>
