<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <ol class="breadcrumb-arrow">
        <li>
          <%= link_to t(".home"), user_path(user),
            data: {"user-id": user.id} %>
        </li>
        <li>
          <% if course.name.size < Settings.truncate.course_name %>
            <%= link_to course.name,
              user_course_path(user.id, course.id), class: "course-all",
              data: {"user-id": user.id, "course-id": course.id} %>
          <% else %>
            <%= link_to course.name.truncate(Settings.truncate.course_name),
              user_course_path(user.id, course.id), class: "course-all",
              data: {"user-id": user.id, "course-id": course.id, toggle: "tooltip"},
              role: "tooltip", title: course.name %>
          <% end %>
        </li>
        <li>
          <% if subject.subject_name.size < Settings.truncate.subject_name %>
            <%= link_to subject.subject_name %>
          <% else %>
            <%= link_to subject.subject_name.truncate Settings.truncate.subject_name,
              role: "tooltip", data: {toggle: "tooltip"},
              title: subject.subject_name %>
          <% end %>
        </li>
      </ol>
    </div>

    <div class="course-subject">
      <div class="image-course">
        <%= image_tag check_language course %>
      </div>
      <div class="course-header">
        <% if subject.subject_name.size < Settings.truncate.subject_name %>
          <span class="title_course">
        <% else %>
          <span class="title_course" role="tooltip" data-toggle="tooltip" title="<%= subject.subject_name %>">
        <% end %>
        <%= subject.subject_name.truncate Settings.truncate.subject_name %>
        </span>

        <span class="status">
          <%= subject.status %>
        </span>

        <div class="description">
          <% if subject.subject_description.size < Settings.truncate.subject_description %>
            <div>
          <% else %>
            <div role="tooltip" data-toggle="tooltip" title="<%= subject.subject_description %>">
          <% end %>
          <%= subject.subject_description.truncate Settings.truncate
            .subject_description %>
          </div>
        </div>
        <div class="date">
          <% if subject.start_date? && subject.end_date? %>
            <span>
              <%= l subject.start_date, format: :format_date_eng %> ~
              <%= l subject.end_date, format: :format_date_eng %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <h4>
      <%= t ".tasks" %>
      <%= subject.subject_name.truncate Settings.truncate.subject_name %>
    </h4>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          </div>
          <div class="x_content">
            <%= render partial: "tasks/task", collection: tasks, locals: {user: user} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
