<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <ol class="breadcrumb-arrow">
        <li>
          <%= link_to t(".home"), user_path(user),
            data: {"user-id": user.id} %>
        </li>
        <li>
          <a><%= course.name.truncate Settings.truncate.course_name %></a>
        </li>
      </ol>
    </div>

    <div class="course-subject">
      <div class="image-course">
        <%= image_tag check_language course %>
      </div>
      <div class="course-header">
        <div>
          <% if course.name.size < Settings.truncate.course_name %>
            <span class="title_course">
          <% else %>
            <span class="title_course" role="tooltip" data-toggle="tooltip"
              title="<%= course.name %>" >
          <% end %>
          <%= course.name.truncate Settings.truncate.course_name %>
          </span>
          <span class="status"><%= course.status %></span>
        </div>
        <p class="description">
          <% if course.description.size < Settings.truncate
                                                  .course_description %>
            <i>
          <% else %>
            <i role="tooltip" data-toggle="tooltip"
              title="<%= course.description %>">
          <% end %>
          <%= course.description.truncate Settings.truncate
                                                  .course_description %>
          </i>
        </p>
        <div class="date">
          <% if course.start_date? && course.end_date? %>
            <span>
              <%= l course.start_date, format: :format_date_eng %> ~
              <%= l course.end_date, format: :format_date_eng %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <h4>
      <%= t ".subjects" %>
      <%= course.name.truncate Settings.truncate.course_name %>
    </h4>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          </div>
          <div class="x_content">
            <%= render partial: "course_detail", collection: subjects,
              as: :course_subject, locals: {course: course} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
