<nav class="navbar main-menu navbar-default">
  <div class="menu-content">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand",
        data: {dark_logo: "logo-framgia.png"} do %>
        <%= image_tag "logo-framgia.png", alt: t("education.logo_alt"),
          class: "logo-header" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="i-con sign-in">
        <span class="dropdown profile" id="none-responsive">
          <% if user_signed_in? %>
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= load_user_avatar current_user if current_user %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu profile-box">
              <li><%= link_to t(".view_profile"), user_path(current_user) %></li>
              <li><%= link_to t(".edit_profile"), edit_user_path(current_user) %></li>
              <li><%= link_to t(".settings"), setting_root_path %></li>
              <li>
                <%= link_to t(".sign_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</nav>
